//COLORS 

$body-grey-color: #777;
$column-color: orangered;
$grid-color: rgb(236, 227, 227);
$row-color: white;
//GRID

$row-width: 145rem;
$row-height: 10rem;

$gutter-horizontal: 5rem;
$gutter-vertical: 3rem;

$col-height: 100%;